*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

nav{
    background-color: #fff;
    border-bottom: 1px solid #222;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: #222;
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 600;
}

nav li{
    list-style-type: none;
    display: inline;
}
.banner img{
    width: 100%;
}
h3{
    padding-top: 80px;
}
.produto{
    padding: 10px;
    transition: .5s;
    
}
.produto:hover{
    background-color: #f7da5d;
    transition: 1s;
}
.img-produto{
    width: 100%;   
}
.nome-produto{
    font-size: 1.5em;
    font-weight: 600;
    padding: 8px 0;
}
.descricao{
    line-height: 1;
}
.preco{
    padding: 5px 0;
    font-weight: 700;
}
button{
    width: 100%;
}